@import "./bootstrap/bootstrap";
@import "./fontawesome/fontawesome";
@import "./fontawesome/fa-regular";
@import "./fontawesome/fa-solid";

.input-group.is-invalid {
  ~ .invalid-feedback {
    display: block;
  }
}

main .container:first-child {
  margin-top: 2em;
}

a.card {
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

img.movie-cover {
  max-height: 290px;
  display: block;
  margin: 0 auto;
}

img.review-cover {
  max-height: 96px;
  display: block;
  margin: 0 auto;
}